/* Fonts */


/* navbar */

.menuitems{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;  
    padding-top: 2%;    
}

.menu-items img{
    filter: invert(100%); 
    height: 95px;
}

.menu-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: auto;  
}

.menu-items a{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
    letter-spacing: 0.076em; 
    font-size: 1.2em;
}


.menu-items a:hover{
    text-decoration: none;
    color: rgb(27, 18, 5);
    scale: 1.1;
    letter-spacing: 0.11em;
    font-weight: 500;
}

.menu-item{
    margin: auto;
    width: 20%;
    display: flex;
    justify-content: center;
}

hr{
    color: aliceblue;
    width: 95%;
}

/* body-top */

.body-top{
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 4% 0px 2% 0px;
}

.bg-poster{    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 90%;
    height: 350px;
    margin: auto;
}

.bg-img-properties{
    filter: opacity(0.3) blur(3px);
}

.left-poster{
    display: flex;
    align-items: center;
    align-content: center;
    width: 85%;
}

.left-poster img{
    max-width: 150%;
    animation: left-img 5s infinite;
    animation-direction: normal;
}
  
@keyframes left-img {
    0% {
        
    }
    75% {
        position: relative;
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        position: relative;
        transform: translateX(143%);
        opacity: 0;
    }
}

.main-poster{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 140%;
}

.main-poster img{
    width: 100%;
    box-shadow: 20px 34px 58px 10px rgba(34, 3, 3, 0.2), 0px 46px 70px 20px rgba(142, 122, 122, 0.19);
    animation: main-img 5s infinite;
    animation-direction: normal;
    z-index: 1;
}
  
@keyframes main-img {
    0% {
        
    }
    75% {
        position: relative;
        transform: translateX(0);
        width: 100%;
        filter: opacity(1) blur(0);
        z-index: 1;
    }
    100% {
        position: relative;
        transform: translateX(-71.5%);
        width: 91%;
        filter: opacity(0.3) blur(3px);
        z-index: 0;
    }
}

.right-poster{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    justify-content: right;
    width: 85%;
}

.right-poster img{
    max-width: 150%;
    animation: right-img 5s infinite;
    animation-direction: normal;
    z-index: 0;
}
  
@keyframes right-img {
    0% {
        z-index: 0;
    }
    75% {
        max-width: 150%;
        position: relative;
        transform: translateX(0);
        filter: opacity(.5) blur(1px);
        box-shadow: 0px 0px 0px 0px rgba(34, 3, 3, 0.2), 0px 0px 0px 0px rgba(142, 122, 122, 0.19);
        z-index: 0;
    }
    100% {
        max-width: 165%;
        position: relative;
        transform: translateX(-60.5%);
        filter: opacity(1) blur(0);
        box-shadow: 20px 34px 58px 10px rgba(34, 3, 3, 0.2), 0px 46px 70px 20px rgba(142, 122, 122, 0.19);
        z-index: 1;
    }
}
